* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-nav {
  display: flex;
  background-color: gray;
  padding: 30px;
  justify-content: space-between;
}

.nav {
  /* Add nav bar CSS styling here */
  background-color: grey;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 30%;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-left: 10px;
  border: 10px;
  font-size: 1.5em;
}
.ptag {
  color: black;
  font-size: 1.5em;
}
li{
    list-style-type:square;
}
.middle {
  display: flex;
  padding: 2px;
}
.text {
  font-size: 2em;
  padding: 20px;
  width: 70%;
}
.image {
  float: right;
  width: 100%;
}

.heading {
  font-size: 3em;
  text-align: center;
}
.testimony-container {
  margin: 10px;
  padding: 20px;
}
.testimony-container h3 {
  text-align: center;
  margin: 10px;
}

.testimony-container img {
  display: block;
  margin: auto;
}
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 12px;
  text-align: center;
}
