* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #f6d0fe; */
  background-image: url(human-resources-concept-with-hand.jpg);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagediv {
  background-image: url("hands.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

nav {
  display: flex;
  width: 100%;
  padding: 1% 10%;
  justify-content: space-between;
  /* background-color: #821890; */
  background-color: #282727;
  position: fixed;
}

.brand {
  display: flex;
  align-items: center;
  /* background-color: #821890; */
  background-color: #282727;
  color: #fdf4ff;
}

.links {
  list-style-type: none;
  display: flex;
  /* background-color: #821890; */
  background-color: #282727;
  
}

.link {
  padding: 10px;
  cursor: pointer;
  color: #fdf4ff;
  text-decoration: none;
}

.h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 2em;
  color: #fdf4ff;
}
.home {
  display: flex;
  padding: 0 12%;
}

.text {
  font-size: 1.6em;
  width: 50%;
  margin: 30px;
  padding: 20px;
  color: #fdf4ff;
  background-color: #282727;
}

.image {
  padding: 20px;
}
.img {
  width: 600px;
  height: 600px;
}

.testimonial {
  display: flex;
  padding: 0 15%;
}

.testimony-container {
  margin: 10px;
  padding: 20px;
  background-color: #282727;
  color: #fdf4ff;
}
.home h3 {
  text-align: center;
  margin: 10px;
}

.testimony-container img {
  display: block;
  margin: auto;
  border-radius: 50%;
  height: 50%;
}

.contact {
  display: block;
  padding: 2% 15%;
}
.contact h3 {
  padding: 20px;
}
.contact-text {
  width: 100%;
  color: #410849;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  background-color: #282727;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid;
  border-radius: 4px;
}
label {
  color: #f6d0fe;
  font-size: 1.3em;
  font-weight: bold;
}
button {
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: #fdf4ff;
  color: #282727;
  width: 100%;
}

.footer {
  background-color: #282727;
  color: #fdf4ff;
  justify-content: end;
  text-align: center;
}

.contact h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contact-text {
  list-style: none;
  padding: 0;
}

.contact-text li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f6d0fe;
  font-size: 1.8em;
}

.contact-text li i {
  margin-right: 10px;
  font-size: 1.2em;
}

.fade-in {
  animation: fade-in 2s ease-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
